body{
	margin: 0;  
	background-color: #F8FBFF;  
}

/*************************INICIO header******************************************/

header {
	background-color: #DDDFE3;
	color: #000817;
    height: 80px;
	text-align: center;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

header .izquierda img {
	width: 250px;
	margin-top: 5px;
	margin-left: 5px;
}

header .izquierda{
	float: left;
}

header .derecha{
	float: right;
}

header .centro{
	display: inline-block;
}

.clear{
  	clear: both;
}

#login{
	margin-right: 20px;
}



/************************************FIN header*****************************************/


/*************************INICIO footer******************************************/
footer .izquierda img {
	width: 150px;
}

footer{
	background-color: #DDDFE3;
	color: #000817;
    height: 150px;
	text-align: center;
}

footer .izquierda{
	float: left;
}

footer .derecha{
	float: right;
}

footer .centro{
	display: inline-block;
	margin-top: 15px;
}
	
footer ul{
	list-style: none;
}
#mapa{
	margin-right: 20px;
	margin-top: 50px;
}

/*************************FIN footer******************************************/

/*************************INICIO principal******************************************/

.principal{
	padding-top: 70px;
}

.principal-izq{
	float: left;
	width: 15%;
}

.principal-der{
	float: right;
	width: 85%;
}

/*************************FIN principal******************************************/


/*************************INICIO menu******************************************/

#menu{	
    margin-top: 35px;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

#menu ul li {
    background-color: #DDDFE3;
}

#menu ul li a {
    color: #000817;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}

#menu ul li a:hover {
    background: #000;
    border-left: 10px solid #333;
    color: #fff;
}