.centro{
	background-color: #F8FBFF;
	color: #000103;
}

footer{
	background-color: #DADDE0;
	color: #000103;
}

footer{
	background-color: #DADDE0;
	color: #000103;
}

/*************************INICIO header******************************************/


.izquierda img {
	width: 250px;
}

header .izquierda{
	float: left;
}

header .derecha{
	float: right;
}

.clear{
  	clear: both;
}

#title{
	margin-right: 430px;
}

#login{
	margin-right: 20px;
}



/************************************FIN header*****************************************/

/*************************INICIO footer******************************************/

footer .izquierda img {
	width: 150px;
}

footer .izquierda{
	float: left;
}

footer .derecha{
	float: right;
}

#creditos{
	margin-right: 430px;
}

#mapa{
	margin-right: 20px;
	margin-top: 50px;
}