/*************************INICIO tabla******************************************/

table{  
    margin-top: 15px;
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
    border: 1px solid black;
}

th, td{
    padding: 7px;
    text-align: left;
}

.login{
    list-style: none;
    margin-right: 20px;  
    margin-left: 20px;  
    margin-bottom: 20px;  
    background-color: #E6F1D1;
    box-shadow: 10px 10px 40px #888888;
    padding: 10px;
    border:30px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 50px;
    margin-left: 40%;
    width: 50%;

}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*************************FIN tabla******************************************/