#miembros{
	margin: 40px;
    color: #000817; 
    padding: 30px;
	background: rgb(0, 0, 0,0.5);
	box-shadow: 10px 10px 40px #888888;
}

.miembro .foto img{
	width: 130px;
	margin-top: 25px;
	float: left;
	
}

.informacion table{
	padding-left: 20px;
	width: 50%;
	margin: 30px;
}

.miembro{
	background-color: #E6F1D1;
	box-shadow: 10px 10px 40px #888888;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}